* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: box;
    src: url(../fonts/Monserrat/Montserrat-SemiBold.otf);
}

@font-face {
    font-family: box4;
    src: url(../fonts/Monserrat/Montserrat-Regular.otf);
}

@font-face {
    font-family: box1;
    src: url(../fonts/Monserrat/Montserrat-Medium.otf);
}

@font-face {
    font-family: box2;
    src: url(../fonts/Monserrat/Montserrat-Bold.otf);
}

@font-face {
    font-family: box3;
    src: url(../fonts/Monserrat/Montserrat-ExtraBold.otf);
}

@font-face {
    font-family: box5;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

a {
    text-decoration: none;
    outline: none;
}

u {
    padding-bottom: 5px;
    text-decoration: none;
    border-bottom: 3px solid #ffcc00;
}

.main {
    display: flex;
    flex-direction: column;
}

.nav {
    width: 100%;
    height: 80px;
    background-color: #fff;
    display: flex;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.445);
    position: fixed;
    z-index: 3;
}

.logo {
    width: 250px;
    height: 100%;
    background-color: #fff;
    background-image: url(../img/olive-logo-redesign_0000_BUREAU-DE-CHANGE.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.nav-links-div {
    margin: auto;
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    margin-right: 1%;

    a {
        font-size: 10pt;
        font-family: box;
        color: #4d4d4d;
        text-decoration: none;
        transition: 0.2s;
        &:hover {
            color: #ffcc00;
        }
    }
}
.ham{
    margin: auto;
    display: flex;
    margin-right: 5%;
    width: 30px;
    height: 20px;
    background-image: url(../img/hamburger-menu-icon_0000_Layer-1.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
    &:hover{
        cursor: pointer;
    }
   
}
.drop-down{
    margin-top: 80px;
    margin-left: 50%;
    width: 50%;
    height: 300px;
    background-color: #eee;
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
    display: none;
    div{
        margin-left: 30px;
    }
    a {
        font-size: 10pt;
        font-family: box;
        color: #4d4d4d;
        text-decoration: none;
        transition: 0.2s;
        &:hover {
            color: #ffcc00;
        }
    }
}
.black{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;
    display: none;
}
.yellow-bar {
    margin-top: 80px;
    width: 100%;
    height: 50px;
    background-color: #ffcc00;
    display: flex;
    overflow: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

.leaf {
    width: 15px;
    height: 30px;
    background-image: url(../img/olive-logo-redesign_0002_Layer-4.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 25px;
}

.rate-scroll {
    display: flex;
    margin: auto;
    animation: scrolling 20s linear infinite;
}

@keyframes scrolling {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(-350px);
    }

    100% {
        transform: translateX(0px);
    }
}

.company-name {
    width: 230px;
    display: flex;

    p {
        margin: auto;
        color: #4d4d4d;
        font-family: box3;
    }

    h4 {
        margin: auto;
        color: #4d4d4d;
        font-family: box4;
    }
}

.daily-fx,
.order-now {
    @extend .company-name;
}

.daily-fx {
    width: 200px;
    margin-right: 20px;
}

.order-now {
    width: 130px;
}

.buy {
    padding: 3px 10px;
    background-color: red;
    display: flex;
    margin-left: 30px;

    p {
        color: #fff;
        margin: auto;
        font-family: box3;
    }
}

.sell,
.buy1 {
    @extend .buy;
}

.buy1 {
    margin-left: 0px;
}

.usd,
.gbp,
.euro {
    display: flex;
    margin-left: 30px;

    p {
        color: #4d4d4d;
        margin: auto;
        font-family: box3;
    }
}

.usd-buy-value,
.gbp-buy-value,
.euro-buy-value {
    margin: auto;
    margin-left: 8px;
    color: red;
    font-family: box1;
}

.pics {
    width: 100%;
    padding: 125px 0px;
    background-image: url(../img/banner.jpg), linear-gradient(to right, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0));
    background-color: #4d4d4d;
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    border-bottom: solid #ffcc00 3px;
}

.news-main {
    width: 100%;
    height: 100vh;
    display: flex;
}

.news-cont {
    margin: auto;
    display: flex;
    width: 90%;
    height: 90vh;
}

.latest-news {
    display: flex;
    flex-direction: column;
    height: inherit;
    margin: auto;
}

.prof-detail {
    display: flex;
    width: fit-content;
    margin-bottom: 0px;
    margin-top: 20px;

    p {
        font-size: 10pt;
    }
}

.profile-pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(109, 95, 235);
    margin: auto;
}

.name {
    width: 200px;
    margin: auto;
    margin-top: 5px;
    margin-left: 10px;

    p {
        margin: auto;
        font-family: box2;
        color: #4d4d4d;
        font-size: 8pt;
    }
}

.date {
    margin: auto;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0px;

    p {
        margin: auto;
        font-family: box5;
        color: #ffcc00;
        font-size: 11pt;
    }
}

.title {
    @extend .date;

    p {
        margin: auto;
        font-family: box2;
        color: #4d4d4d;
        font-size: 16pt;
    }
}

.latest-news {
    width: 60%;
}

.older-news-main {
    width: 35%;
    height: inherit;
    margin: auto;
    background-color: #eee;
}

.older-news {
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
}

.older {
    margin: auto;
    margin-top: 10px;
    width: 90%;
    height: 100px;
    background-color: #aaa;
}

.older-title {
    @extend .older;
    width: 100%;
    height: 50px;
    margin: 0px;
    background-color: #4d4d4d;
    display: flex;

    p {
        margin: auto;
        margin-left: 20px;
        font-family: box2;
        color: #fff;
        font-size: 14pt;
    }
}

.older-title2 {
    @extend .older-title;
    background-color: #ffcc00;

    p {
        color: #4d4d4d;
    }
}

.order-page-pics {
    @extend .pics;
    background-image: url(../img/woman-in-red-dress-using-laptop-on-table-1112796.jpg), linear-gradient(to right, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0));
    padding: 150px 0px;

    p {
        font-size: 30pt;
    }
}

.news-txt {
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
    margin-top: 20px;

    p {
        font-family: box1;
        font-size: 10pt;
        color: #4d4d4d;
    }
}

.about-pics {
    @extend .pics;
    background-image: url(../img/man-using-laptop-3360204.jpg), linear-gradient(to right, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0));
    padding: 150px 0px;

    p {
        font-size: 30pt;
    }
}

.services-pics {
    @extend .pics;
    background-image: url(../img/woman-writing-on-her-notebook-3059747.jpg), linear-gradient(to right, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0));
    padding: 150px 0px;
    background-position: bottom;

    p {
        font-size: 30pt;
    }
}

.order-area {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    width: 75%;
}

.fill-out {
    display: flex;
    background-color: #ffcc00;
    padding: 20px;

    p {
        margin: auto;
        margin-left: 10px;
        font-family: box2;
        color: #4d4d4d;
        font-size: 16pt;
    }
}

.cc-msg {
    display: flex;
    flex-direction: column;

    p {
        margin-top: 20px;
        margin-left: 30px;
        font-family: box1;
        color: #4d4d4d;
    }
}

.act-form {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.first-f-sec {
    margin: auto;
    margin-top: 30px;
    width: 70%;
    display: flex;

    div {
        display: flex;
        flex-direction: column;
        width: 45%;
        margin: auto;

        label {
            font-family: box3;
            margin-bottom: 5px;
            color: #4d4d4d;
        }
    }

    input {
        margin: auto;
        width: 100%;
        height: 30px;
        padding-left: 10px;
    }

    i {
        font-family: box4;
        font-size: 10pt;
    }
}

.first-f-sec2 {
    margin: auto;
    margin-top: 30px;
    width: 70%;
    display: flex;

    div {
        width: 45%;
        margin: auto;
    }
}

.red-asterix {
    color: red;
}

.sec-f-sec {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 70%;
    display: flex;

    p {
        margin: auto;
        font-family: box4;
        color: #4d4d4d;
        font-size: 10pt;
        margin-left: 10px;
    }

    input {
        margin: auto;
    }
}

.sec-f-sec2 {
    @extend .sec-f-sec;
    margin-top: 30px;
}

.exchange {
    display: flex;
    margin: auto;
    margin-left: 2.5%;
}

.trd-f-sec {
    margin: auto;
    width: 70%;
    display: flex;
}

.transact {
    margin: auto;
    margin-top: 30px;
    margin-left: 2.5%;

    p {
        font-family: box1;
        color: #4d4d4d;
        font-size: 10pt;
    }
}

.transact2 {
    margin-top: 30px;
    margin-left: 2.5%;

    p {
        font-family: box5;
        color: #4d4d4d;
        font-size: 14pt;
    }
}

.txt-space {
    margin: 30px auto;
    width: 45%;
}

.submit {
    background-color: #ffcc00;
    border: none;
    margin: auto;
    width: 100%;
    height: 50px;
    color: #4d4d4d;
    font-family: box3;
    font-size: 12pt;
    transition: 0.1s;

    &:hover {
        cursor: pointer;
        color: #ffcc00;
        background-color: #4d4d4d;
    }

}

.get-forex {
    width: 40%;
    margin: auto;
    margin-left: 3%;

    a {
        text-decoration: none;
    }
}

.get-note {
    color: #fff;
    font-family: box2;
    font-size: 30pt;
}

.get-button {
    margin-top: 30px;
    width: fit-content;
    height: fit-content;
    display: flex;
    padding: 20px 55px;
    background-color: #ffcc00;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.445);
    transition: 0.2s ease;

    &:hover {
        transform: scale(0.9);
    }

    p {
        margin: auto;
        color: #fff;
        font-family: box2;
        font-size: 16pt;
    }
}

.current-ll {
    margin: auto;
    margin-top: 50px;
    border-bottom: #ffcc00 3px solid;
    text-align: center;

    p {
        font-family: box3;
        font-size: 18pt;
        margin-bottom: 5px;
    }
}

.rate-cards-main {
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.card {
    display: flex;
    width: 350px;
    height: 300px;
    background-color: #fff;
    margin: 20px;
    box-shadow: 0px 3px 8px rgba(151, 86, 43, 0.445);
}

.card-content {
    display: flex;
    margin: auto;
    flex-direction: column;
}

.us-heading {
    margin: auto;
    display: flex;
    width: fit-content;
    height: fit-content;
    margin-bottom: 20px;
}

.us {
    font-family: box2;
}

.us-flag {
    margin-left: 20px;
    width: 40px;
    height: 21px;
    background-image: url(../img/0_o0-6o1W1DKmI5LbX.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.pound-flag,
.euro-flag {
    @extend .us-flag;
}

.pound-flag {
    background-image: url(../img/england.png);
}

.euro-flag {
    background-image: url(../img/images.png);
}

.buy-us {
    margin-top: 5px;
    font-family: box1;
    font-weight: bolder;
}

.price {
    margin-top: 5px;
    margin-left: 5px;
    font-family: box1;
    font-weight: normal;
}

.about-us {
    box-shadow: 0px 3px 8px rgba(151, 86, 43, 0.445);
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    padding: 80px 50px;
}

.yellow-box {
    background-color: #ffcc00;
    width: 100%;
    height: 20px;
}

.about-txt-cont {
    margin: auto;
    width: 95%;
    text-align: left;

    h2 {
        font-size: 24pt;
        font-family: box1;
        color: #4d4d4d;
        margin-bottom: 20px;
    }

    p {
        font-family: box4;
        color: #4d4d4d;
    }
}

.metrics {
    width: 100%;
    padding: 100px 0px;
    background-color: #ffcc00;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.aot,
.not,
.cs {
    display: flex;
    margin: auto 20px;
}

.aot-div {
    display: flex;

    p {
        margin: auto;
        font-size: 40pt;
        font-family: box3;
        color: #4d4d4d;
        margin-bottom: 20px;
    }
}

.aot-div,
.aot-txt-div {
    margin: auto;
}

.aot-txt-div {
    width: 140px;
    margin-left: 10px;

    p {
        margin-top: -15px;
        font-size: 15pt;
        font-family: serif;
        font-family: box3;
        color: #fff;
    }
}

.subscribe {
    margin: auto;
    width: 100%;
    height: fit-content;
    background-color: #4d4d4d;
    display: flex;
    color: #fff;
    flex-wrap: wrap;
    padding: 50px 0px;

    h2 {
        margin-bottom: 20px;
        font-family: box2;
        font-size: 20pt;
    }

    p {
        font-family: box4;
        font-size: 10pt;
    }
}

.sub-txt {
    margin: auto;
}

.newsletter-form {
    margin: auto;
    display: flex;
    width: 100%;
}

.sub-mail-main {
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

    button {
        width: 20%;
        height: 50px;
        border: none;
        background-color: #ffcc00;
    }
}

.sub-mail {
    padding-left: 20px;
    border: none;
    width: 80%;
    height: 50px;
    outline: none;
}

.footer {
    padding: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.foot-yellow {
    height: 20px;
    background-color: #4d4d4d;
}
.foot-yellow-news {
   @extend .foot-yellow;
}

.address {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.foot-logo {
    margin: auto;
    width: 200px;
    height: 140px;
    background-image: url(../img/olive-logo-redesign_0000_BUREAU-DE-CHANGE.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.social-media {
    display: flex;
}

.s-icon {
    margin: auto;
    width: 35px;
    height: 50px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 25px;
}

.facebook,
.twitter,
.instagram,
.linkedin {
    @extend .s-icon;
}

.facebook {
    background-image: url(../icons/036-facebook.png);
    margin-left: 0px;
}

.twitter {
    background-image: url(../icons/008-twitter.png);
}

.instagram {
    background-image: url(../icons/029-instagram.png);
}

.linkedin {
    background-image: url(../icons/027-linkedin.png);
}

.contact-us {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-evenly;
}

.contact-title {
    p {
        margin: auto;
        font-size: 15pt;
        font-family: box3;
        color: #4d4d4d;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

.email {
    p {
        margin: auto;
        font-size: 10pt;
        font-family: box1;
        color: #4d4d4d;
        margin-top: 20px;
    }
}

/////////////////////////////////////////////
//RESPONSIVENESS
////////////////////////////////////////////
@media screen and (max-width: 1055px) {
    @keyframes scrolling {
        0% {
            transform: translateX(0px);
        }
    
        50% {
            transform: translateX(-700px);
        }
    
        100% {
            transform: translateX(0px);
        }
    }
    .first-f-sec{
        flex-direction: column;
        div{
            margin-top: 30px;
            width: 100%;
        }
    }
    .get-forex {
        width: 90%;
        margin: auto;
        text-align: center;

        a {
            text-decoration: none;
        }
    }

    .get-button {
        margin: auto;
        margin-top: 30px;
    }
}

@media screen and (max-width: 900px) {
    @keyframes scrolling {
        0% {
            transform: translateX(0px);
        }
    
        50% {
            transform: translateX(-1000px);
        }
    
        100% {
            transform: translateX(0px);
        }
    }
    .latest-news{
        width: 100%;
        height: 900px;
    }
    .foot-yellow-news {
        margin-top: 550px;
     }
    .news-cont{
        flex-direction: column;
    }
    .nav-links-div{ 
        display: none;
    }
    .ham{
        display: block;
    }
    .older-news-main{
        width: 100%;
        margin-top: 50px;
        height: 250px;
    }
    .older-news{
        height: 190px;
        div{
            height: 150px;
        }
    }
    .sub-mail-main {
        width: 90%;
        margin-top: 30px;

        button {
            width: 35%;
        }
    }

    .sub-mail {
        width: 65%;
    }
}

@media screen and (max-width: 765px) {
    .cc-msg{
        p{
            margin-left: 0px;
        }
    }
    .first-f-sec,.trd-f-sec,.sec-f-sec{
        width: 100%;
    }
    .first-f-sec{
        input{
            padding-left: 0px;
        }
    }
    .first-f-sec2{
        width: 100%;
       div{
           margin: unset;
       }
    }
    .sec-f-sec{
        input{
            margin-left: 0px;
        }
        div{
            margin-left: 0px;
        }
    }
    .transact2,.transact{
       margin-left: 0px;
    }
    @keyframes scrolling {
        0% {
            transform: translateX(0px);
        }
    
        50% {
            transform: translateX(-1300px);
        }
    
        100% {
            transform: translateX(0px);
        }
    }
    .aot-div{
        p{
            font-size: 30pt;
        }
    }
    .aot-txt-div{
        width: 80px;
       p{
        font-size: 10pt;
       }
    }
    .get-note {
        text-align: center;
        font-size: 20pt;
    }

    .get-button {
        padding: 12px 27px;
        p{
            font-size: 14pt;
        }
    }
}

@media screen and (max-width: 553px) {
    .order-area{
        width: 90%;
    }
    @keyframes scrolling {
        0% {
            transform: translateX(0px);
        }
    
        50% {
            transform: translateX(-1400px);
        }
    
        100% {
            transform: translateX(0px);
        }
    }
    .drop-down{
        width: 100%;
        margin-left: 0%;
    }
    .logo{
        width: 150px;
        background-size:70%;
    }
    .sub-txt {
        text-align: center;
    }

    .address {
        margin: 0px;
    }

    .contact-us {
        margin-top: 50px;
        text-align: center;
    }

    .email {
        p {
            margin-top: 5px;
        }
    }
}
@media screen and (max-width: 360px) {
    @keyframes scrolling {
        0% {
            transform: translateX(0px);
        }
    
        50% {
            transform: translateX(-1500px);
        }
    
        100% {
            transform: translateX(0px);
        }
    }
  .card-content{
      padding: 20px;
  }
}